/* PC */
@media screen and (min-width: 992px) {
  .show-on-mobile {
    display: none;
  }

  .navbar__menu {
    display: none;
  }

  .header__menu-drawer {
    display: none;
  }

  input[type="radio"] {
    display: none;
  }

  .booking__img-center--mobile {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .project-home__card {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-home__heading {
    font-size: 4.6rem;
  }

  .row {
    row-gap: 30px;
  }

  .atmosphere__media {
    flex-direction: column;
    row-gap: 50px;
  }

  .booking__content {
    width: 100%;
  }

  .booking__img-right,
  .booking__img-left {
    display: none;
  }
  .booking__img-center--mobile {
    display: none;
  }

  .booking__img-center {
    width: 100%;
  }
}

/* Table */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    order: 3;
    margin-left: auto;
  }

  .show-on-mobile {
    display: none;
  }

  .project-home__desc {
    width: 350px;
  }

}

/* Large Tablet (iPad Pro, Surface, etc.) */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .project-home__card {
    grid-template-columns: repeat(1, 1fr);
  }

  .atmosphere__media {
    flex-direction: column;
    row-gap: 60px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  /* Projects */
  .project-home__content {
    flex-direction: column;
    text-align: center;
  }

  .project-home__heading {
    font-size: 3.6rem;
  }

  .project-home__desc {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .project-home__card {
    /* width: 350px; */
    margin-bottom: 50px;
  }

  /* .project-home__card-item {
    width: 100%;
  } */
  .project-home__card-wrapper {
    padding: 20px 15px;
    gap: 22px;
  }

  .project-home__card-content {
    max-width: 176px;
    /* width: 100%; */
    /* margin-right: 22px; */
  }

  .project-home__card-title {
    font-size: 2.4rem;
  }

  .project-home__card-desc {
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  .project-home__card-link {
    font-size: 1.6rem;
  }

  .project-home__card-img img {
    width: 112px;
  }

  /* Feedback */
  .feedback__heading {
    font-size: 3.6rem;
  }

  .feedback__desc {
    font-size: 1.6rem;
  }

  .feedback__review {
    margin-top: 40px;
    font-size: 1.8rem;
  }

  .feedback__decor-right,
  .feedback__decor-left {
    max-width: 98px;
  }

  .feedback__content,
  .feedback__detail {
    width: 100%;
  }

  /* FAQ */
  .faq {
    margin-top: 120px;
  }

  .faq__heading {
    font-size: 3.6rem;
  }

  .faq__group {
    margin-top: 42px;
  }

  .faq__question-text {
    font-size: 2.4rem;
    margin: 40px 0 15px;
    max-width: 264px;
  }

  .faq__answer-text {
    font-size: 1.6rem;
    margin: 15px 0 18px;
  }

  .faq__item input:checked ~ .faq__answer {
    margin: -15px 0 21px;
  }

  .faq__button {
    width: 33px;
    height: 33px;
    flex: 0 0 33px;
  }

  .faq__button img {
    width: 6px;
    height: 6px;
  }

  /* Atmosphere */
  .atmosphere {
    margin-top: 120px;
  }

  .atmosphere__heading {
    font-size: 3.6rem;
  }

  .atmosphere__desc {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .atmosphere__email-link {
    font-size: 2rem;
  }

  .atmosphere__email {
    margin-bottom: 60px;
  }

  .atmosphere__media {
    display: flex;
    gap: 20px;
    flex-direction: row;
    overflow: hidden;
  }
  .atmosphere__indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
  }
  .atmosphere__dot {
    /* display: inline-block; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #080415;
    opacity: 0.2;
  }

  .atmosphere__dot--active {
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--second-color); /* khoảng trắng giữa */
    border: 1px solid var(--primary-color); /* viền ngoài */
    border-radius: 50%;
    opacity: 1;
  }

  .atmosphere__dot--active::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-color);
  }

  /* Booking */
  .booking {
    width: 100%;
    margin-top: 120px;
    padding: 35px 0 35px;
  }

  .booking__icon-img {
    width: 48px;
    height: 48px;
  }

  .booking__content {
    max-width: 350px;
    height: auto;
  }

  .booking__heading {
    font-size: 3.6rem;
    max-width: 225px;
    margin: 0 auto;
  }

  .booking__desc {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .booking__cta.btn {
    width: 147px;
  }

  .booking__cta-btn {
    font-size: 1.6rem;
  }

  .booking__img-left,
  .booking__img-right,
  .booking__img-center {
    display: none;
  }

  .booking__img-center--mobile {
    display: block;
  }
}

/* Extra Small Mobile */
@media (max-width: 575px) {
  .clients {
    margin-top: 150px;
  }

  .navbar--footer {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .navbar--footer .navbar__list {
    margin-left: 0;
  }

  .navbar__link {
    font-size: 1.4rem;
  }

  /*
  .footer__links {
    margin-left: 20px;
    width: 100%;
    border-bottom-width: 100%;
  } */

  .footer__link {
    font-size: 1.3rem;
  }

  .footer__separator {
    margin-right: 0;
  }

  .footer__copyright {
    margin-top: 6px;
    font-size: 1.4rem;
  }

  .projects-home {
    max-width: 100%;
  }
}
