* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
  --second-color: #fff;
  --heading-color: #080415;
  --background-color: #fbfaff;
  --desc-color: #51586a;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */

  /* -webkit-tap-highlight-color: transparent; */
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  /* overflow-x: hidden; */
}

/* =============================Common============================= */

button {
  pointer-events: none;
}

.main__container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 62px;
  background: var(--primary-color);
  cursor: pointer;
  /* pointer-events: auto; */
  transition: all 0.4s ease;
  border-radius: 20px;
}

.btn:hover {
  opacity: 0.75;
}

.heading {
  color: var(--heading-color);
  font-weight: 500;
}
