* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;
  --second-color: #fff;
  --heading-color: #080415;
  --background-color: #fbfaff;
  --desc-color: #51586a;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Overide CSS Button */

.btn {
  pointer-events: auto;
  border: 1px solid var(--primary-color);
  background-color: #fdfdfd;
}

.btn:hover {
  background-color: #5d3bee;
}

/* Project Filter */
.project__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.fillter-btn {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 0.66;
}

.btn.fillter-btn:hover {
  color: var(--second-color);
}

.project {
  /* background-color: #dadbdb; */
  margin-top: 100px;
}

.project__heading {
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* Trạng thái active */
.project__filter .filter-btn.active {
  background-color: #5d3bee; /* ví dụ tím đậm */
  color: #fff;
  border-color: #5d3bee;
  box-shadow: 0 0 10px rgba(93, 59, 238, 0.5); /* thêm glow nhẹ */
}

.project__card-item {
  background-color: #d4dfe6;
}
